@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff')
    format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff')
    format('woff');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
    format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff')
    format('woff');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

* {
  font-family: 'Pretendard-Medium', sans-serif;
}

body {
  color: #ffffff;
}
:root {
  --background: #000000;
  --foreground: #ffffff;
}

@keyframes bgMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-text {
  background-image: url('/images/GradientBackground.png');
  background-size: 200% 200%;
  animation: bgMove 5s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.link-hover-underline {
  @apply relative overflow-hidden border-b-2 text-white transition-colors duration-300 hover:text-black;
}

.link-hover-underline-text {
  @apply relative z-10;
}

.link-hover-underline-bg {
  @apply absolute bottom-0 left-0 z-0 h-full w-full origin-bottom scale-y-0 bg-white transition-transform duration-300;
}

.group:hover .link-hover-underline-bg {
  @apply scale-y-100;
}

.paper-texture {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url('/images/PaperBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
